.wrapper {
    background-image: url('world_map.png');
    background-size: 1280px 720px;
    width: 1280px;
    height: 720px;
    margin: auto;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(32, 33, 36);
    text-align: center;
    margin-bottom: 50px;
}

.board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
}

.container {
    perspective: 1000px;
}

.card {
    width: 180px;
    height: 180px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front, .back {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    position: absolute;
}

.front {
    color: rgb(240, 153, 80);
    background-color: rgb(247, 239, 230);
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    color: rgb(247, 239, 230);
    background-color: rgb(240, 153, 80);;
    z-index: 1;
    transform: rotateY(180deg);
}

.container:hover .card{
    transform: rotateY(180deg);
}
